@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;500&family=Source+Sans+3&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

*:focus {
  outline: none;
}

body,
p {
  margin: 0;
}

html {
  font-size: 14px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans 3", sans-serif;
  color: var(--font-color-primary);

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
