$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;

$space-sm: 2px;
$space-md: 4px;
$space-lg: 8px;
$space-xl: 16px;
$space-xxl: 32px;

$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 930px;
$screen-mg: 1306px;
$screen-lg: 1400px;
$screen-xg: 1400px;