$main-color-1: #8BABD8;
$main-color-2: #78E378;
$main-color-3: #F71735;
$main-color-4: #011627;
$main-color-5: #707991;

$neutral-color-1: #FFFFFF;
$neutral-color-2: #F5F5F5;
$neutral-color-3: #D9DCE0;
$neutral-color-4: #3A3A3C;
$neutral-color-5: #1C1C1E;
$neutral-color-6: #1C1C1E;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;

$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 930px;
$screen-mg: 1306px;
$screen-lg: 1400px;
$screen-xg: 1400px;